<ul
  class="relative flex flex-col gap-12 py-12 pl-8 before:absolute before:top-10 before:left-8 before:h-full before:border before:-translate-x-1/2 before:border-gray before:border-dashed after:absolute after:top-6 after:left-8 after:bottom-6 after:border after:-translate-x-1/2 "
>
  <li class="relative pl-8">
    <div class="flex flex-col flex-1 gap-4">
      <div
        class="absolute z-10 inline-flex items-center justify-center w-8 h-8 text-white rounded-full -left-4 ring-2 ring-white"
      >
        <img
          src="{{ post.author?.avatar }}"
          alt="user name"
          title="user name"
          width="48"
          height="48"
          class="max-w-full rounded-full"
        />
      </div>
      <h4
        class="flex flex-col items-start text-lg font-medium leading-8 lg:items-center md:flex-row text-slate-700"
      >
        <span class="flex-1"
          >{{ post.author?.name
          }}<span class="text-base font-normal text-slate-500">
            created a new post</span
          ></span
        ><span class="text-sm"> {{ getDate(post.createdAt) }}</span>
        <span class="text-sm ml-2">
          <img
            src="/assets/edit.png"
            class="cursor-pointer object-contain invert"
            (click)="editPost()"
          />
        </span>
        <span class="text-sm ml-2">
          <img
            src="/assets/close.png"
            class="cursor-pointer object-contain invert"
            (click)="deletePost(post.userId ? post.userId : '', post.id ? post.id : '')"
          />
        </span>
      </h4>
      <span class="text-xl font-bold"> {{ post.Title }}</span>
      <p class="text-slate-500">
        {{ post.content }}
      </p>
    </div>
  </li>
</ul>
